<nav class="navbar container-fluid">
  <div class="row w-100">
    <!-- Left: Profile -->
    <div class="navbar-section profile-section col-xl-4 col-md-5 col-7">
      <img [src]="profileImage" alt="Profile" class="profile-img">
      <div class="profile-info">
        <span class="profile-name">Juan David Vela Coronado</span>
        <span class="profile-role">Software Developer</span>
      </div>
    </div>

    <!-- Center: Navigation -->
    <div class="navbar-section col-xl-4 col-md-2 col-5">
      <!-- Desktop Menu -->
      <div class="desktop-menu nav-links d-none d-xl-flex">
        <!-- Home Icon -->
        <a href="#section-home" class="nav-item home-icon" title="Home">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
          </svg>
        </a>
        
        <a href="#section-projects" class="nav-item">Projects</a>
        <a href="#section-about" class="nav-item">About Me</a>
        <a href="#section-skills" class="nav-item">Skills</a>
      </div>

      <!-- Tablet Hamburger  -->
      <button class="hamburger-btn d-none d-md-block d-xl-none" (click)="toggleMenu()">
        <i class="bi bi-list" style="font-size: 2rem;"></i>
      </button>
      <!-- Mobile Hamburger -->
      <button class="hamburger-btn d-md-none" (click)="toggleMenu()">
        <i class="bi bi-list" style="font-size: 1.7rem;"></i>
      </button>
    </div>

    <!-- Right: Social & Theme -->
    <div class="navbar-section social-actions d-none d-md-flex col-xl-4 col-md-5">
      <app-social-button platform="linkedin" href="https://www.linkedin.com/in/juan-david-vela-coronado-a609b7266/"></app-social-button>
      <app-social-button platform="github" href="https://github.com/juanvec06/"></app-social-button>
      <app-theme-toggle></app-theme-toggle>
    </div>
  </div>
</nav>

<app-mobile-menu 
  [isOpen]="isMenuOpen" 
  [isMobileView]="isMovileView" 
  (close)="closeMenu()">
</app-mobile-menu>

