<div class="footer-wrapper">
    <footer class="footer-container">
        <div class="footer-content">
            <div class="brand-area">
                <span class="logo-text">
                    <i class="bi bi-code-slash"></i>
                    Juan Vela
                </span>
                <span class="rights">© 2026 Developed by Juan Vela.</span>
                <span class="rights">Contact: spartanjuanv&#64;gmail.com</span>
            </div>
            
            <div class="social-links">
                <app-social-button 
                    platform="linkedin" 
                    href="https://linkedin.com/in/juan-david-vela-coronado-a609b7266/" 
                    [size]="24">
                </app-social-button>
                <app-social-button 
                    platform="github" 
                    href="https://github.com/juanvec06/" 
                    [size]="24">
                </app-social-button>
            </div>
        </div>
    </footer>
</div>
